#Python
__pycache__/
*.pyc
*.pyo
*.pytest_cache/

#Environment
.env
venv/
.env.local
postgres_data/

#Django
db.sqlite3
media/
staticfiles/

# Docker
*.log

# Editors / IDE
.idea/
.vscode/
*.swp
*.swo
